In [1]:
import pandas as pd
import traceback
from converter import *

In [2]:
df = pd.read_csv('./test_digit.tsv', sep='\t')
df

,Index,유형,세부 유형,기본 유형,난이도,예시 문제,OP Equation,Infix,Check,Labeling 필요,Answer
0,1,숫자 오류,기본,수찾기-3,4,남준이가 나눗셈을 하는 과정에서 나누는 세 자리 수의 일의 자리에 있는 0을 빠뜨려...,210 12 [OP_MUL] 120 [OP_FDIV],ans = ( 210 * 12 ) // 120,#ERROR!,NaN,21
1,1_증강,숫자 오류,기본,수찾기-3,4,민수는 세 자리 수로 어떤 수를 나누려고 합니다. 이 때 나누는 수의 일의 자리에 ...,210 12 [OP_MUL] 120 [OP_FDIV],ans = ( 210 * 12 ) // 120,#NAME?,NaN,21
2,2,숫자 오류,기본,수찾기-3,4,석진이가 나눗셈을 하는 과정에서 나누는 세 자리 수의 십의 자리에 있는 0을 빠뜨려...,15 182 [OP_MUL] 105 [OP_FDIV],ans = ( 15 * 182 ) // 105,#ERROR!,NaN,26
3,2_증강,숫자 오류,기본,수찾기-3,4,"현수가 나눗셈을 계산하니, 몫이 182으로 나누어떨어졌습니다. 하지만, 이는 나누는...",15 182 [OP_MUL] 105 [OP_FDIV],ans = ( 15 * 182 ) // 105,26,NaN,26
4,3,숫자 오류,기본,수찾기-3,4,석진이는 나눗셈을 하는 과정에서 나누는 수 65의 십의 자리 숫자와 일의 자리 숫자...,56 25 [OP_MUL] 25 [OP_ADD] 65 [OP_FDIV] 56 25 ...,ans = ( 56 * 25 + 25 ) // 65 + ( 56 * 25 + 25 ...,81,NaN,81
...,...,...,...,...,...,...,...,...,...,...,...
347,174_증강,방정식 제공,소수점,수찾기-2,3,B+B+A=814.8입니다. B를 10배하면 A와 같습니다. 소수점을 포함하여 A-...,814.8 10 10 [OP_ADD] 1 [OP_ADD] [OP_DIV] 814.8...,NaN,#NAME?,NaN,34.92
348,175,방정식 제공,소수점,수찾기-2,6,A+B+B=814.8입니다. B의 소수점을 오른쪽으로 한 칸 옮기면 A와 같습니다....,814.8 10 2 [OP_ADD] [OP_DIV] 10 [OP_MUL] 814.8...,ans = (814.8 / (10 + 2))*10 - (814.8 / (10 + 2)),611.10,NaN,611.10
349,175_증강,방정식 제공,소수점,수찾기-2,6,B+A+B=814.8입니다. A의 소수점을 왼쪽으로 한 칸 옮기면 B와 같습니다. ...,814.8 10 2 [OP_ADD] [OP_DIV] 10 [OP_MUL] 814.8...,NaN,611.10,NaN,611.10
350,176,방정식 제공,소수점,수찾기-2,6,A-B-B-B=303.1입니다. 소수 B를 10배 하면 A와 같습니다. A를 구하시오.,303.1 10 3 [OP_SUB] [OP_DIV] 10 [OP_MUL],ans = (303.1 / (10 - 3)) * 10,433,NaN,433
351,176_증강,방정식 제공,소수점,수찾기-2,6,A-B-B-B=303.1 입니다. A를 10으로 나누면 B와 같습니다. A를 구하시오,303.1 10 3 [OP_SUB] [OP_DIV] 10 [OP_MUL],NaN,#ERROR!,NaN,433

In [3]:
df = df[['OP Equation', 'Infix', 'Answer']]
df

,OP Equation,Infix,Answer
0,210 12 [OP_MUL] 120 [OP_FDIV],ans = ( 210 * 12 ) // 120,21
1,210 12 [OP_MUL] 120 [OP_FDIV],ans = ( 210 * 12 ) // 120,21
2,15 182 [OP_MUL] 105 [OP_FDIV],ans = ( 15 * 182 ) // 105,26
3,15 182 [OP_MUL] 105 [OP_FDIV],ans = ( 15 * 182 ) // 105,26
4,56 25 [OP_MUL] 25 [OP_ADD] 65 [OP_FDIV] 56 25 ...,ans = ( 56 * 25 + 25 ) // 65 + ( 56 * 25 + 25 ...,81
...,...,...,...
347,814.8 10 10 [OP_ADD] 1 [OP_ADD] [OP_DIV] 814.8...,NaN,34.92
348,814.8 10 2 [OP_ADD] [OP_DIV] 10 [OP_MUL] 814.8...,ans = (814.8 / (10 + 2))*10 - (814.8 / (10 + 2)),611.10
349,814.8 10 2 [OP_ADD] [OP_DIV] 10 [OP_MUL] 814.8...,NaN,611.10
350,303.1 10 3 [OP_SUB] [OP_DIV] 10 [OP_MUL],ans = (303.1 / (10 - 3)) * 10,433
351,303.1 10 3 [OP_SUB] [OP_DIV] 10 [OP_MUL],NaN,433

In [4]:
df = df.dropna(axis=0)
df

,OP Equation,Infix,Answer
0,210 12 [OP_MUL] 120 [OP_FDIV],ans = ( 210 * 12 ) // 120,21
1,210 12 [OP_MUL] 120 [OP_FDIV],ans = ( 210 * 12 ) // 120,21
2,15 182 [OP_MUL] 105 [OP_FDIV],ans = ( 15 * 182 ) // 105,26
3,15 182 [OP_MUL] 105 [OP_FDIV],ans = ( 15 * 182 ) // 105,26
4,56 25 [OP_MUL] 25 [OP_ADD] 65 [OP_FDIV] 56 25 ...,ans = ( 56 * 25 + 25 ) // 65 + ( 56 * 25 + 25 ...,81
...,...,...,...
342,AB4C+17D8=5671 B [OP_DIGIT_UNK_SOLVER],"import itertools list1 = range(1, 9 + 1) for ...",9
344,A05B-1C04=30D8 A [OP_DIGIT_UNK_SOLVER] A05B-1C...,"import itertools list1 = range(0, 9 + 1) for ...",10
346,814.8 10 10 [OP_ADD] 1 [OP_ADD] [OP_DIV] 814.8...,ans = 814.8 / (10+10+1) - (814.8 / (10+10+1)) /10,34.92
348,814.8 10 2 [OP_ADD] [OP_DIV] 10 [OP_MUL] 814.8...,ans = (814.8 / (10 + 2))*10 - (814.8 / (10 + 2)),611.10
350,303.1 10 3 [OP_SUB] [OP_DIV] 10 [OP_MUL],ans = (303.1 / (10 - 3)) * 10,433

In [5]:
from converter import *
from tqdm import tqdm
for row in tqdm(df.iterrows(), total=len(df)):
	try:
		index = row[0]
		row = row[1]
		pc = PostfixConverter()

		# if 'GEN_POSSIBLE_LIST' in row[0]:
		# 	continue
		
		print(f'Solving {index}...', end='')

		result, code = pc.convert(row[0])
		# print(f"Result: {result} Answer: {row[2]}")

		assert str(result) == str(row[2])
		print(f'\r', end='')

		del pc

	except Exception as e:
		# print(pc.code_string)
		print(index, row.tolist(), sep=' ')
		traceback.format_exc()
		# raise RuntimeError from e

 27%|██▋       | 38/143 [00:00<00:00, 267.55it/s]

Solving 54...54 ['[OP_LIST_SOL] 4 8 A [OP_LIST_EOL] [OP_GEN_POSSIBLE_LIST] 1 [OP_LIST_MAX] 1 [OP_LIST_MIN] [OP_ADD]', 'list1 = [i for i in range(480,489+1)] ans = max(list1) + min(list1)', '969']
Solving 60...60 ['[OP_LIST_SOL] 2 A 7 [OP_LIST_EOL] [OP_GEN_POSSIBLE_LIST] 1 [OP_LIST_MAX] 1 [OP_LIST_MIN] [OP_ADD]', 'list1 = [2*100 + i*10 + 7 for i in range(0,10)] list1.sort() ans = list1[0] + list1[-1]', '504']
Solving 62...62 ['[OP_LIST_SOL] 2 5 A [OP_LIST_EOL] [OP_GEN_POSSIBLE_LIST] 256 [OP_LIST_MORE] [OP_LIST_LEN]', 'ans = 0 for i in range(0,10):     if 100 * 2 + 5 * 10 + i > 256 :          ans = ans + 1', '3']
Solving 64...64 ['[OP_LIST_SOL] 7 A 6 [OP_LIST_EOL] [OP_GEN_POSSIBLE_LIST] 756 [OP_LIST_LESS] [OP_LIST_LEN]', 'list1 = [7*100+6+i*10 for i in range(10)] list1 = [i for i in list1 if i<756]  ans = len(list1)', '5']
Solving 66...66 ['[OP_LIST_SOL] 2 5 A [OP_LIST_EOL] [OP_GEN_POSSIBLE_LIST] 256 [OP_LIST_MORE] [OP_LIST_LEN]', 'list1 = list(range(100, 1000)) num1 = 0 for i in list1:     num2 = i // 100     num3 = (i % 100) // 10     if (num2 == 2) and (num3 == 5) and (i > 256):         num1 += 1 ans = num1', '3']
Solving 92...92 ['[OP_LIST_SOL] 7 A B [OP_LIST_EOL] [OP_GEN_POSSIBLE_LIST] 3 [OP_LIST_DIVISIBLE] [OP_LIST_LEN]', 'cnt = 0 for i in range(0, 10) :     for j in range (0, 10) :         if (7 * 100 + i * 10 + j) % 3 == 0 :              cnt = cnt + 1 ans = cnt', '33']

 45%|████▌     | 65/143 [00:00<00:00, 205.82it/s]

Solving 100...100 ['[OP_LIST_SOL] 7 5 2 A B [OP_LIST_EOL] [OP_GEN_POSSIBLE_LIST] 3 [OP_LIST_DIVISIBLE] [OP_LIST_LEN]', 'list1 = [ i for i in range( 75200, 75300 ) if i % 3 == 0 ] ans = len( list1 )', '33']
Solving 138...138 ['ans = 138.6 / ( 10 ** 2 - 1 )', 'num1 = 138.6 num2 = 10 ** 2 - 1 ans = num1 / num2', '1.4']
Solving 140...140 ['ans = 5.4 / 9', 'ans = 5.4 / 9', '0.6']
Solving 142...142 ['ans = 1.485 / 0.99', 'ans = 1.485 / 0.99', '1.5']
Solving 144...144 ['ans = 1.782 / 0.99', 'ans = 1.782 / 0.99', '1.8']
Solving 146...146 ['ans = 0.72 / 0.9', 'ans = 0.72 / 0.9', '0.8']
Solving 148...148 ['ans = 3.54 + 3.45', 'ans = 3.54 + 3.45', '6.99']
Solving 150...150 ['ans = 1.74 - 1.65', 'ans = 1.74 - 1.65', '0.09']
Solving 152...152 ['ans = 3.45 + 3.54', 'ans = 3.45 + 3.54', '6.99']
Solving 154...154 ['ans = 1.74 - 1.65', 'ans = 1.74 - 1.65', '0.09']
Solving 158...158 ['[OP_LIST_SOL] 7 A 5 [OP_LIST_EOL] [OP_GEN_POSSIBLE_LIST] 751 [OP_LIST_LESS] [OP_LIST_LEN]', 'ans = 0 for A in range(0, 9 + 1):     if 751 < 705 + 10 * A:         ans += 1', '5']
Solving 160...160 ['[OP_LIST_SOL] 1 8 A 4 [OP_LIST_EOL] [OP_GEN_POSSIBLE_LIST] 1853 [OP_LIST_LESS] [OP_LIST_LEN]', 'list1 = [ int ( str ( 1 ) + str ( 8 ) + str ( A ) + str ( 4 ) ) for A in range ( 0, 9 + 1 ) ] list2 = [ i for i in list1 if i < 1853 ] ans = len ( list2 )', '5']
Solving 162...162 ['[OP_LIST_SOL] 8 A 5 9 [OP_LIST_EOL] [OP_GEN_POSSIBLE_LIST] 8343 [OP_LIST_LESS] 8A59 A [OP_LIST_FIND_UNK] [OP_LIST_SUM]', 'list1 = [ int (str ( 8 ) + str ( A ) + str ( 5 ) + str ( 9 ) ) for A in range ( 0, 9 + 1 ) ] list2 = [ i for i in list1 if i < 8343 ] list3 = [ int ( str ( i ) [ 1 ] ) for i in list2 ] ans = sum ( list3 )', '3']
Solving 164...164 ['[OP_LIST_SOL] 5 7 1 A [OP_LIST_EOL] [OP_GEN_POSSIBLE_LIST] 5716 [OP_LIST_LESS] [OP_LIST_LEN]', 'list1 = [ int ( str ( 5 ) + str ( 7 ) + str ( 1 ) + str ( A ) ) for A in range ( 0, 9 + 1 ) ] list2 = [ i for i in list1 if i < 5716 ] ans = len ( list2 )', '6']
Solving 166...166 ['[OP_LIST_SOL] 5 7 1 A [OP_LIST_EOL] [OP_GEN_POSSIBLE_LIST] 5716 [OP_LIST_MORE] [OP_LIST_LEN]', "str1 = '571' cnt = 0 for i in range( 10 ):     num1 = int( str1 + str( i ) )     if 5716 > num1:         cnt = cnt + 1 ans = cnt", '3']
Solving 168...168 ['[OP_LIST_SOL] 5 A 5 [OP_LIST_EOL] [OP_GEN_POSSIBLE_LIST] 600 [OP_LIST_LESS_EQUAL] 5A5 A [OP_LIST_FIND_UNK] [OP_LIST_SUM]', 'list1 = [ i for i in range(0, 10) if i < 10 ] ans = sum( list1 )', '45']
Solving 170...170 ['[OP_LIST_SOL] 7 A 9 [OP_LIST_EOL] [OP_GEN_POSSIBLE_LIST] 700 [OP_LIST_MORE_EQUAL] 7A9 A [OP_LIST_FIND_UNK] [OP_LIST_LEN]', 'list1 = [i for i in range(0, 10) if i >= 0 ] ans = len(list1)', '10']
Solving 172...172 ['[OP_LIST_SOL] 8 A 2 [OP_LIST_EOL] [OP_GEN_POSSIBLE_LIST] 850 [OP_LIST_MORE_EQUAL] 8A2 A [OP_LIST_FIND_UNK] [OP_LIST_SUM]', 'list1 = [i for i in range(0, 10) if i < 5 ] ans = sum(list1)', '35']
Solving 174...174 ['[OP_LIST_SOL] 6 A 4 2 [OP_LIST_EOL] [OP_GEN_POSSIBLE_LIST] 6500 [OP_LIST_MORE_EQUAL] 6A42 A [OP_LIST_FIND_UNK] [OP_LIST_LEN]', 'ans = 0 for A in range(0, 10):     if round(6000 + A * 100 + 40 + 2, -3) == 6000:         ans += 1', '5']
Solving 176...176 ['[OP_LIST_SOL] 8 A 4 2 [OP_LIST_EOL] [OP_GEN_POSSIBLE_LIST] 8500 [OP_LIST_MORE_EQUAL] 8A42 A [OP_LIST_FIND_UNK] [OP_LIST_LEN]', 'ans = 0 for A in range(10):     if round(8*1000 + A*100 + 4*10 + 2, -3) == 8000:         ans += 1 ', '5']
Solving 178...178 ['[OP_LIST_SOL] 6 2 A 9 4 [OP_LIST_EOL] [OP_GEN_POSSIBLE_LIST] 62500 [OP_LIST_MORE_EQUAL] 62A94 A [OP_LIST_FIND_UNK] [OP_LIST_SUM]', 'list1 = [i for i in range(0, 9 + 1) if i>=5] ans = sum(list1)', '35']
Solving 182...182 ['[OP_LIST_SOL] 2 5 A 7 3 5 [OP_LIST_EOL] [OP_GEN_POSSIBLE_LIST] 255000 [OP_LIST_MORE_EQUAL] 25A735 A [OP_LIST_FIND_UNK] [OP_LIST_LEN]', 'list1 = [i for i in range(0, 9 + 1) if i>=5] ans = len(list1)', '5']
Solving 184...184 ['[OP_LIST_SOL] 7 A 2 B [OP_LIST_EOL] [OP_GEN_POSSIBLE_LIST]  2 [OP_LIST_DIVISIBLE] 3 [OP_LIST_DIVISIBLE] 5 [OP_LIST_DIVISIBLE] 1 [OP_LIST_MAX]', 'import itertools list1 = [] for A,B in itertools.permutations(range(10), 2):     if A != B:         num = 7*1000+ A*100 + 2*10 + B         if num % 2 == 0:             if num % 3 == 0:                 if num % 5 == 0:                     list1.append(num) list1.sort() ans = list1[-1]', '7920']
Solving 188...188 ['[OP_LIST_SOL] 7 A A 1 [OP_LIST_EOL] [OP_GEN_POSSIBLE_LIST] 9 [OP_LIST_DIVISIBLE] [OP_LIST2NUM]', 'for A in range(10):     if (7*1000 + A*100 + A*10 + 1) % 9 == 0:         ans = 7*1000 + A*100 + A*10 + 1         break', '7551']
Solving 194...194 ['[OP_LIST_SOL] A 7 4 [OP_LIST_EOL] [OP_GEN_POSSIBLE_LIST] 50 [OP_LIST_MORE_EQUAL] 500 [OP_LIST_LESS] [OP_LIST_LEN]', 'import math  list1 = [ int ( str ( A ) + "74" ) for A in range ( 0, 9 + 1 ) ] list2 = [ i for i in list1 if math.floor( math.log10( (i // 5) ) ) == 2 - 1 ] ans = len ( list2 )', '4']
Solving 196...196 ['[OP_LIST_SOL] A 6 3 [OP_LIST_EOL] [OP_GEN_POSSIBLE_LIST] 700 [OP_LIST_MORE_EQUAL] 7000 [OP_LIST_LESS] [OP_LIST_LEN]', 'import math  list1 = [ int ( str ( A ) + "63" ) for A in range ( 0, 9 + 1 ) ] list2 = [ i for i in list1 if math.floor( math.log10( (i // 7) ) ) == 3 - 1 ] ans = len ( list2 )', '3']
Solving 198...198 ['[OP_LIST_SOL] A 6 1 4 [OP_LIST_EOL] [OP_GEN_POSSIBLE_LIST] 6000 [OP_LIST_MORE_EQUAL] 60000 [OP_LIST_LESS] [OP_LIST_LEN]', 'list1 = [ int ( str ( A ) + "614" ) for A in range ( 0, 9 + 1 ) ] list2 = [ i for i in list1 if (i // 6) > 1000 ] ans = len ( list2 )', '4']
Solving 208...

 61%|██████    | 87/143 [00:14<00:09,  6.03it/s]

KeyboardInterrupt: